.red-text {
  color: red;
}

// adjust some Just the Docs page layout parameters
.site-nav {
  padding-top: 1rem; 
}
.main-content-wrap {
  padding-top: 0.5rem;
}
.breadcrumb-nav {
    margin-top: 0rem;
    /* display: none; */
}
